$bg-primary: rgb(16, 20, 30);
$bg-secondary: rgb(10, 12, 19);
$bg-secondary: rgb(10, 12, 19);
$color-accent: rgb(90, 106, 144);
$color-accent-secondary: rgb(238, 70, 9);
$font-primary: #fff;
$font-secondary: rgba(255, 255, 255, 0.75);